@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
  border-color: white;
  background-color: red;
}

.success {
  border-color: rgb(26, 144, 26);
  background-color: rgb(26, 144, 26);
}
